__pycache__/
*.py[cod]
*$py.class
.cache/
venv/
.venv/
.env
*.env
.env.*
ENV/
env.bak/
venv.bak/
.idea/
.DS_Store
.pytest_cache/
.vscode/
allure-report/
htmlcov/
.coverage
.coverage.*
*.log
*.xml
*.out
*.err
.ipynb_checkpoints/
.mypy_cache/
.pylint.d/
Thumbs.db
